@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Buyan";
  src: url("../fonts/BuyanBold.eot");
  src: local("☺"), url("../fonts/BuyanBold.woff") format("woff"), url("../fonts/BuyanBold.ttf") format("truetype"), url("../fonts/BuyanBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* функции */
/* мексины */
/* переменные */
/* общие классы */
body {
  font-family: "Buyan";
  color: #2F4237;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.container {
  max-width: 1352px;
  margin: 0px auto;
  padding: 0px 16px;
}

/* скролл */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* иконки */
.icon-triangle {
  display: inline-block;
  fill: #2F4237;
  cursor: pointer;
  width: 9px;
  height: 7px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-phone {
  display: inline-block;
  fill: #2F4237;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-hatch {
  display: inline-block;
  fill: #FFAC17;
  cursor: pointer;
  width: 120px;
  height: 13px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-line {
  display: inline-block;
  stroke: #ADDDC2;
  fill: none;
  width: 100%;
  height: 82%;
  z-index: 3;
  pointer-events: none;
  stroke-dashoffset: 2800;
  stroke-dasharray: 2800;
  -webkit-animation: anim-icon-line 10s infinite 2s;
          animation: anim-icon-line 10s infinite 2s;
}

@-webkit-keyframes anim-icon-line {
  from {
    stroke-dasharray: 0 2800;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 2800 0;
    stroke-dashoffset: 2800;
  }
}

@keyframes anim-icon-line {
  from {
    stroke-dasharray: 0 2800;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 2800 0;
    stroke-dashoffset: 2800;
  }
}
.icon-bg-line {
  display: inline-block;
  position: absolute;
  stroke: #E3DA9D;
  fill: none;
  width: 100%;
  height: 2314px;
  pointer-events: none;
  stroke-dashoffset: 7410;
  stroke-dasharray: 7450;
  -webkit-animation: anim-icon-bg-line 20s infinite 6s;
          animation: anim-icon-bg-line 20s infinite 6s;
}

@-webkit-keyframes anim-icon-bg-line {
  from {
    stroke-dashoffset: 7410;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes anim-icon-bg-line {
  from {
    stroke-dashoffset: 7410;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.icon-vk {
  display: inline-block;
  fill: #2787F5;
  cursor: pointer;
  width: 56px;
  height: 56px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-youtube {
  display: inline-block;
  fill: #FF0000;
  cursor: pointer;
  width: 56px;
  height: 56px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-2gis {
  display: inline-block;
  fill: #29B24A;
  cursor: pointer;
  width: 56px;
  height: 56px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.icon-vector {
  display: inline-block;
  fill: #00A649;
  cursor: pointer;
  width: 14px;
  height: 14px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

/* повторяющиеся классы */
.title {
  position: relative;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 23px;
  line-height: 113.0434782609%;
  text-transform: uppercase;
}
.title__text {
  position: relative;
  z-index: 3;
}
.title__icon-hatch {
  position: absolute;
  z-index: -1;
  left: -2px;
  bottom: -5px;
}

.sub-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 106.25%;
  max-width: 650px;
}
@media (max-width: 1352px) {
  .sub-title {
    font-size: calc(48px + 32 * ((100vw - 320px) / 1032));
  }
}

.btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
@media (any-hover: hover) {
  .btn:hover {
    -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
            box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
  }
}
.btn:active {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px);
}

.btn-link {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  line-height: 113.0434782609%;
  text-transform: uppercase;
  color: #00A649;
  padding: 21px 24px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  margin-left: -24px;
}
.btn-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 68px;
  height: 68px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.btn-link:hover::after {
  width: 100%;
  border-radius: 48px;
}
@media (max-width: 1450px) {
  .btn-link {
    margin-left: 0px;
  }
}
.btn-link_dark::after {
  background-color: #F3F0DA;
}

/* булиты и пагинация swiper------------------------------------------------------------------------------------------------------------- */
.main-slider__swiper-pagination,
.photo-gallery__swiper-pagination,
.partners__swiper-pagination {
  bottom: 0 !important;
}
.main-slider__swiper-pagination .swiper-pagination-bullet,
.photo-gallery__swiper-pagination .swiper-pagination-bullet,
.partners__swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.main-slider__swiper-pagination .swiper-pagination-bullet-active,
.photo-gallery__swiper-pagination .swiper-pagination-bullet-active,
.partners__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00A649;
  opacity: 1;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-slider__swiper-pagination .swiper-pagination-bullet-active::after,
.photo-gallery__swiper-pagination .swiper-pagination-bullet-active::after,
.partners__swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.control-swiper {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .control-swiper {
    display: none;
  }
}

.arr-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: auto;
  height: 68px;
}

.prev-swiper,
.next-swiper {
  width: 68px !important;
  height: 68px !important;
  border-radius: 50%;
  position: relative !important;
  top: auto !important;
  margin-top: 0 !important;
}
.prev-swiper::after,
.next-swiper::after {
  content: "" !important;
}
.prev-swiper::before,
.next-swiper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prev-swiper {
  left: 0 !important;
}
.prev-swiper::before {
  background-image: url(../img/icon/arr-left.svg);
}

.next-swiper {
  right: 0 !important;
}
.next-swiper::before {
  background-image: url(../img/icon/arr-right.svg);
}

.pagination-swiper {
  z-index: 1 !important;
  height: 68px;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  border-radius: 0px 20px 20px 0px;
  margin-right: 2px;
  position: relative !important;
}
.pagination-swiper .swiper-pagination-bullet {
  background-color: #CCC385;
  opacity: 1;
}
.pagination-swiper .swiper-pagination-bullet-active {
  background-color: #00A649;
  opacity: 1;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination-swiper .swiper-pagination-bullet-active::after {
  content: "";
  border: 2px solid #00A649;
  opacity: 0.25;
}

/* шапка =======================================================================================================================*/
.header {
  min-height: 125px;
  background-color: #F3F0DA;
  padding-top: 32px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (max-width: 991.98px) {
  .header {
    padding-top: 16px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  margin-right: 118px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 124px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
@media (max-width: 1352px) {
  .header__logo {
    margin-right: calc(10px + 108 * ((100vw - 320px) / 1032));
  }
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 72px;
            flex: 0 0 72px;
    height: 90px;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .menu-header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 11px 16px;
    background-color: #F3F0DA;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}
.menu-header._active-burger-menu {
  left: 0;
}
.menu-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 25px;
}
@media (max-width: 1219px) {
  .menu-header__top {
    margin-bottom: 12px;
  }
}
@media (max-width: 991.98px) {
  .menu-header__top {
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .menu-header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 168px;
  }
}
.menu-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}
@media (max-width: 767.98px) {
  .menu-header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-menu-header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .top-menu-header__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.top-menu-header__contact {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2F4237;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
@media (any-hover: hover) {
  .top-menu-header__contact:hover {
    color: #00A649;
  }
  .top-menu-header__contact:hover .icon-phone {
    fill: #00A649;
  }
}
@media (max-width: 767.98px) {
  .top-menu-header__contact {
    margin-bottom: 16px;
  }
}
.top-menu-header__icon-phone {
  margin-right: 8px;
}
.top-menu-header__btn {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  line-height: 128.5714285714%;
  color: #FFFFFF;
  padding: 13px 24px;
  background-color: #00A649;
  border-radius: 20px;
  margin-left: 24px;
}
@media (max-width: 767.98px) {
  .top-menu-header__btn {
    margin-left: 0;
    margin-bottom: 36px;
  }
}
@media (max-width: 360px) {
  .top-menu-header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
.top-menu-header ._init .language__ru._active .icon-triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.top-menu-header__burger-icon {
  display: none;
  z-index: 55;
}
@media (max-width: 767.98px) {
  .top-menu-header__burger-icon {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 60px;
    height: 60px;
    background-color: #E3DA9D;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-menu-header__burger-icon span, .top-menu-header__burger-icon::before, .top-menu-header__burger-icon::after {
    position: absolute;
    height: 3px;
    width: 16px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #2F4237;
  }
  .top-menu-header__burger-icon::before, .top-menu-header__burger-icon::after {
    content: "";
  }
  .top-menu-header__burger-icon::before {
    top: 40%;
  }
  .top-menu-header__burger-icon::after {
    bottom: 40%;
  }
  .top-menu-header__burger-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0%, -50%);
            transform: scale(1) translate(0%, -50%);
  }
  .top-menu-header__burger-icon._active-burger-menu span {
    -webkit-transform: scale(0) translate(0%, -50%);
            transform: scale(0) translate(0%, -50%);
  }
  .top-menu-header__burger-icon._active-burger-menu::before {
    top: 49%;
    left: 40%;
    -webkit-transform: rotate(-45deg) translate(0px, -49%);
            transform: rotate(-45deg) translate(0px, -49%);
  }
  .top-menu-header__burger-icon._active-burger-menu::after {
    bottom: 50%;
    left: 40%;
    -webkit-transform: rotate(45deg) translate(0%, 50%);
            transform: rotate(45deg) translate(0%, 50%);
  }
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 82px;
     -moz-column-gap: 82px;
          column-gap: 82px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1352px) {
  .menu__list {
    -webkit-column-gap: calc(10px + 72 * ((100vw - 320px) / 1032));
       -moz-column-gap: calc(10px + 72 * ((100vw - 320px) / 1032));
            column-gap: calc(10px + 72 * ((100vw - 320px) / 1032));
  }
}
.menu__item {
  position: relative;
}
@media (max-width: 767.98px) {
  .menu__item {
    width: 100%;
  }
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  line-height: 113.0434782609%;
  color: #2F4237;
  text-transform: uppercase;
  background-color: #F3F0DA;
  padding: 5px 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.menu__link:hover {
  color: #00A649;
}
.menu__link:hover .icon-triangle {
  fill: #00A649;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 28px;
    line-height: 107.1428571429%;
  }
  .menu__link:not(:last-child) {
    margin-bottom: 6px;
  }
}
.menu__body {
  position: relative;
  z-index: 5;
  margin-bottom: 24px;
}
.menu__body a {
  display: block;
  color: inherit;
  font-family: "Manrope";
  font-weight: 400;
}
.menu__body a:not(:last-child) {
  margin-bottom: 12px;
}
.menu__body a:hover {
  background-color: #F3F0DA;
}
@media (min-width: 767.98px) {
  .menu__body {
    background-color: #FFFFFF;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    min-width: 250px;
    font-size: 16px;
    line-height: 150%;
    -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
            box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
    padding: 12px 0px;
  }
  .menu__body a {
    padding-left: 16px;
  }
  .menu__body a:not(:last-child) {
    margin-bottom: 8px;
  }
}
.menu__icon-triangle {
  margin-left: 12px;
}
.menu ._init .menu__link._active .icon-triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
@media (any-hover: hover) {
  .language:hover {
    color: #00A649;
  }
  .language:hover .icon-triangle {
    fill: #00A649;
  }
}
.language__ru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F0DA;
}
.language__ru p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 0 8px;
}
.language__body {
  background-color: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 22px;
  width: 100%;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
          box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
}
.language__body p {
  padding-left: 16px;
}
.language__body p:hover {
  background-color: #F3F0DA;
}

.header.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* главный слайдер ===================================================================================================================*/
.main-slider {
  position: relative;
  background-color: #F3F0DA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 48px 48px;
  overflow-x: hidden;
}
@media (max-width: 1220px) {
  .main-slider {
    padding-top: 185px;
  }
}
@media (max-width: 767.98px) {
  .main-slider {
    padding-top: 146px;
  }
}
@media (min-width: 1220px) {
  .main-slider {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0px 0px 120px 120px;
    overflow: hidden;
    padding-top: 162px;
  }
}
.main-slider__icon-line {
  position: absolute;
  right: -12%;
}
@media (max-width: 1366px) {
  .main-slider__icon-line {
    display: none;
  }
}
@media (min-width: 1220px) {
  .main-slider__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 1220px) {
  .main-slider__body {
    width: 50%;
    padding-right: 70px;
  }
}
.main-slider__swiper {
  padding-bottom: 116px !important;
}
@media (min-width: 1220px) {
  .main-slider__swiper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    overflow: hidden;
    padding: 100px 0 !important;
  }
}
.main-slider__title {
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .main-slider__title {
    margin-bottom: 20px;
  }
}
.main-slider__sub-title {
  font-weight: 700;
  font-size: 90px;
  line-height: 105.5555555556%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1352px) {
  .main-slider__sub-title {
    font-size: calc(42px + 48 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .main-slider__sub-title {
    margin-bottom: 16px;
  }
}
.main-slider__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 142.8571428571%;
  margin-bottom: 60px;
}
@media (max-width: 1352px) {
  .main-slider__text {
    font-size: calc(16px + 5 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .main-slider__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .main-slider__btn-link {
    margin-bottom: 16px;
  }
}
.main-slider__swiper-slide {
  position: relative;
}
.main-slider__swiper-slide_1::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 5%;
  background-image: url(../img/home/slide1/bubble-top.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.main-slider__swiper-slide_1::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 20%;
  background-image: url(../img/home/slide1/bubble-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
}
.main-slider__swiper-slide_2::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 20%;
  background-image: url(../img/home/slide2/bubble-top.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-slider__swiper-slide_2::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 20%;
  background-image: url(../img/home/slide2/bubble-bottom.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
}
.main-slider__swiper-slide_3::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 25%;
  background-image: url(../img/home/slide3/bubble-top.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-slider__swiper-slide_3::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 15%;
  background-image: url(../img/home/slide3/bubble-bottom.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
}
.main-slider__swiper-slide_4::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 20%;
  background-image: url(../img/home/slide4/bubble-top.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-slider__swiper-slide_4::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0%;
  right: 45%;
  background-image: url(../img/home/slide4/bubble-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
}
@media (max-width: 1400px) {
  .main-slider__swiper-slide::after, .main-slider__swiper-slide::before {
    background-size: 20%;
  }
}
.main-slider__image {
  position: relative;
  padding-top: 55.5%;
  overflow: hidden;
}
.main-slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-slider__swiper-pagination {
  z-index: 1 !important;
  height: 160px;
  width: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #DED9C0;
  border-radius: 0px 20px 20px 0px;
}
@media (min-width: 1450px) {
  .main-slider__swiper-pagination {
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
  }
}
@media (max-width: 1450px) {
  .main-slider__swiper-pagination {
    left: 50% !important;
    -webkit-transform: rotate(270deg) translate(-100%, -20%) !important;
            transform: rotate(270deg) translate(-100%, -20%) !important;
  }
}
.main-slider__swiper-pagination .swiper-pagination-bullet {
  background-color: #2F4237;
  opacity: 0.25;
}
.main-slider__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00A649;
  opacity: 1;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-slider__swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  border: 2px solid rgba(0, 166, 73, 0.25);
  border-bottom: 2px solid #00A649;
}

/* footer ===================================================================================================================*/
.footer {
  background-color: #F3F0DA;
  border-radius: 120px 120px 0px 0px;
  padding-top: 120px;
  padding-bottom: 48px;
}
@media (max-width: 1352px) {
  .footer {
    padding-top: calc(36px + 84 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 1352px) {
  .footer {
    padding-bottom: calc(24px + 24 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .footer {
    border-radius: 48px 48px 0px 0px;
  }
}
.footer__top {
  padding-bottom: 59px;
}
@media (max-width: 1352px) {
  .footer__top {
    padding-bottom: calc(32px + 27 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .footer__top {
    border-bottom: 2px solid #DED9C0;
  }
}
.footer__bottom {
  padding-top: 59px;
}
@media (max-width: 1352px) {
  .footer__bottom {
    padding-top: calc(32px + 27 * ((100vw - 320px) / 1032));
  }
}

@media (min-width: 767.98px) {
  .top-footer__collumns {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .top-footer__collumn_none-767 {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .top-footer__collumn_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.top-footer__logo {
  margin-bottom: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 124px;
  overflow: hidden;
}
.top-footer__logo img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .top-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 72px;
            flex: 0 0 72px;
    height: 90px;
    margin-bottom: 24px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 767.98px) {
  .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 767.98px) {
  .bottom-footer__collumns {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bottom-footer__copy {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .bottom-footer__btn-link {
    margin-bottom: 32px;
  }
}
.bottom-footer__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.bottom-footer__development img {
  margin-left: 12px;
}
@media (max-width: 767.98px) {
  .bottom-footer__development {
    margin-top: 12px;
  }
}

.visitors__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}
.visitors__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00A649;
}
.visitors__number {
  min-width: 85px;
  font-weight: 700;
  font-size: 36px;
  line-height: 105.5555555556%;
  margin-right: 5px;
}
.menu_footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__list_footer {
  width: auto;
}
.menu__item_footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.menu__body_footer {
  top: 35px;
}
.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 142.8571428571%;
  color: #2F4237;
}
@media (max-width: 767.98px) {
  .contact-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact-footer__title {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
}
.contact-footer__address {
  margin-bottom: 8px;
}
.contact-footer__contact {
  margin-bottom: 8px;
  color: inherit;
}
.contact-footer__mail {
  margin-bottom: 47px;
  color: #00A649;
}
@media (max-width: 1352px) {
  .contact-footer__mail {
    margin-bottom: calc(24px + 23 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 479.98px) {
  .contact-footer__address, .contact-footer__contact, .contact-footer__mail {
    font-size: 18px;
  }
}
@media (any-hover: hover) {
  .contact-footer__social svg:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.social-footer a:not(:last-child) {
  margin-right: 12px;
}

/* products===================================================================================================================*/
.products {
  position: relative;
  z-index: 4;
  padding-top: 160px;
  padding-bottom: 200px;
}
@media (max-width: 1352px) {
  .products {
    padding-top: calc(120px + 40 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 1201px) {
  .products {
    padding-bottom: 200px;
  }
}
@media (max-width: 1201px) and (max-width: 1352px) {
  .products {
    padding-bottom: calc(120px + 80 * ((100vw - 320px) / 1032));
  }
}
.products__title {
  margin-bottom: 15px;
}
.products__sub-title {
  padding-bottom: 60px;
}
@media (max-width: 1352px) {
  .products__sub-title {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1032));
  }
}
.products__items {
  margin-bottom: 24px;
}
@media (min-width: 767.98px) {
  .products__items {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .products__items {
    display: -ms-grid;
    display: grid;
        grid-template: 1fr/repeat(auto, 242px);
    grid-auto-columns: 270px;
    grid-auto-flow: column;
    gap: 16px;
    overflow: auto;
  }
  .products__items::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
@media (max-width: 1352px) {
  .products__items {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 1032));
  }
}
.products__item {
  background-color: #F3F0DA;
  padding: 24px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  cursor: pointer;
}
@media (max-width: 1352px) {
  .products__item {
    padding: calc(15px + 9 * ((100vw - 320px) / 1032));
  }
}
.products__item:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
          box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
  border-radius: 12px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.products__item:hover:not(:last-child) .item-product__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.products__topical {
  margin-bottom: 80px;
}
@media (max-width: 1201px) {
  .products__topical {
    margin-bottom: 80px;
  }
}
@media (max-width: 1201px) and (max-width: 1352px) {
  .products__topical {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1032));
  }
}
.products__btn-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-product__image {
  padding-top: 65%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin-bottom: 24px;
}
@media (max-width: 1352px) {
  .item-product__image {
    margin-bottom: calc(14px + 10 * ((100vw - 320px) / 1032));
  }
}
.item-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.item-product__image_recept img {
  -o-object-fit: contain;
     object-fit: contain;
}
.item-product__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 107.1428571429%;
}

.topical {
  position: relative;
  z-index: 3;
  background-color: white;
  border: 2px solid #DDF3D5;
  border-radius: 20px;
  padding: 24px;
}
@media (max-width: 1352px) {
  .topical {
    padding: calc(16px + 8 * ((100vw - 320px) / 1032));
  }
}
.topical__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 107.1428571429%;
  margin-bottom: 24px;
}
@media (max-width: 1352px) {
  .topical__title {
    font-size: calc(23px + 5 * ((100vw - 320px) / 1032));
  }
}
.topical__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}
.topical__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-topical__image {
  width: 100px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-topical__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F3F0DA;
}
.item-topical__image img {
  position: relative;
  z-index: 1;
}
@media (max-width: 479.98px) {
  .item-topical__image {
    width: 80px;
    height: 80px;
  }
}
.item-topical__body {
  margin-left: 16px;
}
.item-topical__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;
  padding-bottom: 4px;
}
.item-topical__discription {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 140px;
}

/* photo-gallery ===================================================================================================================*/
.photo-gallery {
  position: relative;
  z-index: 3;
  padding-bottom: 304px;
}
@media (max-width: 1352px) {
  .photo-gallery {
    padding-bottom: calc(120px + 184 * ((100vw - 320px) / 1032));
  }
}
.photo-gallery__icon-bg-line {
  position: absolute;
  top: 0px;
  right: -185px;
  -webkit-transform: translate(0, -17%);
          transform: translate(0, -17%);
}
@media (max-width: 1557px) {
  .photo-gallery__icon-bg-line {
    display: none;
  }
}
.photo-gallery__title {
  margin-bottom: 15px;
}
@media (max-width: 1352px) {
  .photo-gallery__title {
    margin-bottom: calc(12px + 3 * ((100vw - 320px) / 1032));
  }
}
.photo-gallery__sub-title {
  padding-bottom: 60px;
}
@media (max-width: 1352px) {
  .photo-gallery__sub-title {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1032));
  }
}
.photo-gallery__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E3DA9D;
  border-radius: 20px;
  padding: 24px 32px;
  margin-bottom: 52px;
}
@media (max-width: 1352px) {
  .photo-gallery__info {
    margin-bottom: calc(40px + 12 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .photo-gallery__info {
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.photo-gallery__logo {
  margin-right: 16px;
}
@media (max-width: 767.98px) {
  .photo-gallery__logo {
    margin-bottom: 12px;
  }
}
.photo-gallery__text {
  position: relative;
  z-index: 1;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 21px;
  line-height: 147.619047619%;
  color: inherit;
}
.photo-gallery__swiper {
  min-width: 0;
}
.photo-gallery__swiper-wrapper {
  padding-top: 8px;
  padding-bottom: 48px;
}
@media (max-width: 767.98px) {
  .photo-gallery__swiper-wrapper {
    padding-bottom: 0px;
  }
}
.photo-gallery__swiper-slide {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 767.98px) {
  .photo-gallery__swiper-slide {
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 24px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
  .photo-gallery__swiper-slide > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-gallery__swiper-slide > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-gallery__swiper-slide > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .photo-gallery__swiper-slide > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .photo-gallery__swiper-slide > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-gallery__swiper-slide > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-gallery__swiper-slide > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .photo-gallery__swiper-slide > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
}
@media (max-width: 767.98px) {
  .photo-gallery__swiper-slide {
    grid-auto-columns: 242px;
    grid-auto-flow: column;
    gap: 16px;
    overflow: auto;
  }
  .photo-gallery__swiper-slide::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.photo-gallery__image {
  padding-top: 44%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .photo-gallery__image {
    padding-top: 92%;
  }
}
.photo-gallery__image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 767.98px) {
  .photo-gallery__image_1 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}
@media (min-width: 767.98px) {
  .photo-gallery__image_4 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.photo-gallery__image:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
          box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.photo-gallery__swiper-button-prev, .photo-gallery__swiper-button-next {
  background-color: #F3F0DA;
}
.photo-gallery__swiper-button-prev {
  left: 0 !important;
}
.photo-gallery__swiper-button-prev::before {
  content: url(../img/icon/arr-left.svg);
}
.photo-gallery__swiper-button-next {
  right: 0 !important;
}
.photo-gallery__swiper-button-next::before {
  content: url(../img/icon/arr-right.svg);
}
/*partners ------------------------------------------------------------------------------------------------------------- */
.partners {
  position: relative;
  z-index: 1;
  padding-bottom: 200px;
}
@media (max-width: 1352px) {
  .partners {
    padding-bottom: calc(120px + 80 * ((100vw - 320px) / 1032));
  }
}
.partners__body {
  padding: 100px;
  background-color: #F3F0DA;
  border-radius: 20px;
}
@media (max-width: 1352px) {
  .partners__body {
    padding: calc(20px + 80 * ((100vw - 320px) / 1032));
  }
}
@media (max-width: 767.98px) {
  .partners__body {
    border-radius: 48px;
    padding-right: 0;
  }
}
.partners__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 1352px) {
  .partners__title {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 1032));
  }
}
.partners__swiper-wrapper {
  padding-top: 8px;
  padding-bottom: 48px;
}
@media (max-width: 767.98px) {
  .partners__swiper-wrapper {
    padding-bottom: 0px;
  }
}
.partners__swiper-slide {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 767.98px) {
  .partners__swiper-slide {
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .partners__swiper-slide {
    grid-auto-columns: 242px;
    grid-auto-flow: column;
    gap: 16px;
    overflow: auto;
  }
  .partners__swiper-slide::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.partners__image {
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  cursor: pointer;
}
.partners__image:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
          box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.partners__swiper-button-prev, .partners__swiper-button-next {
  background-color: #fff;
}
/* fefmers ===================================================================================================================*/
.fermers {
  padding-bottom: 180px;
}
@media (max-width: 1352px) {
  .fermers {
    padding-bottom: calc(120px + 60 * ((100vw - 320px) / 1032));
  }
}
.fermers__title {
  margin-bottom: 15px;
}
@media (max-width: 1352px) {
  .fermers__title {
    margin-bottom: calc(12px + 3 * ((100vw - 320px) / 1032));
  }
}
.fermers__sub-title {
  padding-bottom: 60px;
}
@media (max-width: 1352px) {
  .fermers__sub-title {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1032));
  }
}
.fermers__row {
  margin-bottom: 80px;
}
@media (max-width: 1352px) {
  .fermers__row {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1032));
  }
}
@media (min-width: 767.98px) {
  .fermers__row {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .fermers__row {
    display: -ms-grid;
    display: grid;
        grid-template: 1fr/repeat(auto, 242px);
    grid-auto-columns: 242px;
    grid-auto-flow: column;
    gap: 16px;
    overflow: auto;
  }
  .fermers__row::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.fermers__btn-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-fermer__image {
  padding-top: 80%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin-bottom: 32px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  cursor: pointer;
}
@media (max-width: 1352px) {
  .items-fermer__image {
    margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1032));
  }
}
.items-fermer__image:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
          box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.items-fermer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
.items-fermer__locations {
  margin-bottom: 8px;
}
.items-fermer__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 107.1428571429%;
  margin-bottom: 32px;
}
.locations-fermer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.locations-fermer__text {
  margin-left: 8px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.info-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.info-description__item {
  background: #DDF3D5;
  border-radius: 20px;
  color: #00A649;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  padding: 7px 12px;
}