@use 'sass:math';
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap');


@font-face {
	font-family: 'Buyan';
	src: url('../fonts/BuyanBold.eot');
	src: local('☺'), url('../fonts/BuyanBold.woff') format('woff'), url('../fonts/BuyanBold.ttf') format('truetype'), url('../fonts/BuyanBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* функции */

/* мексины */
$maxWidth: 1352; //миксин для адаптива
$maxWidthContainer: 1352;

@mixin adaptiv-value ($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2{
		//только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else{
		//всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

@mixin font($font-size, $line-height) {//миксин для font-size и расчета line-height
	font-size: $font-size;
	line-height: math.div($line-height, $font-size);
}


/* переменные */
$bg:#F3F0DA;
$gray-text: #A59F85; 
$black-text: #2F4237; 
$green: #00A649; 
$brown:#E3DA9D;
$fs_18: 18px;


/* общие классы */
body{
	font-family: 'Buyan';
	color: $black-text;
	font-size: $fs_18;
	user-select: none;// запред выделения текста
	&._lock{//бллокирует скролл основного сайта при выпадании меню
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100%;
	// max-width: 1920px;
	// overflow: hidden;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
	overflow: hidden;
}

.container {
	max-width: 1352px;//(1320(макетная ширина) + 30(отступы безопасности)) 
	margin: 0px auto;
	padding: 0px 16px;//отступы безопасности
}

/* скролл */
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
	border-radius: 10px;
}
::-webkit-scrollbar-track{
	// background-color: $black-text;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
}

/* иконки */
.icon-triangle {
	display: inline-block;
	fill: $black-text;
	cursor: pointer;
	width: 9px;
	height: 7px;
	transition: 0.4s ease-out;
}

.icon-phone {
	display: inline-block;
	fill: $black-text;
	cursor: pointer;
	width: 18px;
	height: 18px;
	transition: 0.4s ease-out;
}

.icon-hatch {
	display: inline-block;
	fill: #FFAC17;
	cursor: pointer;
	width: 120px;
	height: 13px;
	transition: 0.4s ease-out;
}

.icon-line {
	display: inline-block;
	stroke: #ADDDC2;
	fill: none;
	width: 100%;
	height: 82%;
	z-index: 3;
	pointer-events: none;
	stroke-dashoffset: 2800;
	stroke-dasharray: 2800;
	animation: anim-icon-line 10s infinite 2s;
}

@keyframes anim-icon-line{
	from {
        stroke-dasharray: 0 2800;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 2800 0;
        stroke-dashoffset: 2800;
    }
}

.icon-bg-line{
	display: inline-block;
	position: absolute;
	stroke: #E3DA9D;
	fill: none;
	width: 100%;
	height: 2314px;
	pointer-events: none;
    stroke-dashoffset: 7410;
    stroke-dasharray: 7450;
	animation: anim-icon-bg-line 20s infinite 6s;
}
@keyframes anim-icon-bg-line{
	from {
        stroke-dashoffset: 7410;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.icon-main-info-line{
	display: inline-block;
	position: absolute;
	stroke: #E3DA9D;
	fill: none;
	width: 100%;
	height: 100%;
	pointer-events: none;
    stroke-dashoffset: 8000;
    stroke-dasharray: 6561;
	animation: anim-main-info-line 20s infinite 6s;
}
@keyframes anim-main-info-line{
	from {
        stroke-dashoffset: 8000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.icon-developments{
	display: inline-block;
	position: absolute;
	stroke: #ADDDC2;
	fill: none;
	width: 100%;
	height: 195px;
	pointer-events: none;
}

.icon-vk {
	display: inline-block;
	fill: #2787F5;
	cursor: pointer;
	width: 56px;
	height: 56px;
	transition: 0.4s ease-out;
}

.icon-youtube {
	display: inline-block;
	fill: #FF0000;
	cursor: pointer;
	width: 56px;
	height: 56px;
	transition: 0.4s ease-out;
}

.icon-2gis {
	display: inline-block;
	fill: #29B24A;
	cursor: pointer;
	width: 56px;
	height: 56px;
	transition: 0.4s ease-out;
}
.icon-vector {
	display: inline-block;
	fill: $green;
	cursor: pointer;
	width: 14px;
	height: 14px;
	transition: 0.4s ease-out;
}

/* повторяющиеся классы */
.title{
	position: relative;
	z-index: 3;
	display: inline-flex;
	font-size: 23px;
	line-height: 26 / 23 * 100%;
	text-transform: uppercase;
	&__text{
		position: relative;
		z-index: 3;
	}	
	&__icon-hatch {
		position: absolute;
		z-index: -1;
		left: -2px;
		bottom: -5px;
	}
}

.sub-title{
	font-weight: 700;
	@include adaptiv-value("font-size", 80, 48, 1);
	line-height: 85 / 80 * 100%;
	max-width: 650px;
}

.btn{
	display: inline-block;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
	transition: 0.4s ease-out;
	@media (any-hover: hover){
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
		}
	}
	&:active{
		transform: translate(0, -8px);
	}
}

.btn-link{
	position: relative;
	z-index: 1;
	display: inline-block;
	font-weight: 700;
	font-size: 23px;
	line-height: 26 / 23 * 100%;
	text-transform: uppercase;
	color: $green;
	padding: 21px 24px;
	transition: 0.4s ease-out;
	margin-left: -24px;
	&::after{
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 68px;
		height: 68px;
		background-color: white;
		border-radius: 50%;
		transition: 0.4s ease-out;
	}
	&:hover::after{
		width: 100%;
		border-radius: 48px;
	}
	@media (max-width: 1450px) {
		margin-left: 0px;
	}
	&_dark::after{
		background-color: $bg;
	}
}

.info-description {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	&__item {
		background: #DDF3D5;
		border-radius: 20px;
		color: $green;
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 14px;
		padding: 7px 12px;
	}
}

/* булиты и пагинация swiper------------------------------------------------------------------------------------------------------------- */
.main-slider__swiper-pagination,
.photo-gallery__swiper-pagination,
.partners__swiper-pagination,
.discription-slider__swiper-pagination {
	bottom: 0!important;
	.swiper-pagination-bullet{
		width: 8px;
		height: 8px;
		// background-color: #2F4237;
		// opacity: 0.25;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.4s ease-out;
	}	
	.swiper-pagination-bullet-active{
		background-color: $green;
		opacity: 1;
		position: relative;
		transform: rotate(45deg);
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translate(-50%,-50%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
}

.control-swiper{
	width: 100%;
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width:767.98px) {
		display: none;
	}
}

.arr-swiper {
	display: flex;
	gap: 24px;
	width: auto;
	height: 68px;
}

.prev-swiper,
.next-swiper {
	width: 68px!important;
	height: 68px!important;
	border-radius: 50%;
	position: relative!important;
	top: auto!important;
	margin-top: 0!important;
	&::after{
		content: ""!important;
	}
	&::before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 32px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translate(-50%, -50%);
	}
}

.prev-swiper {
	left: 0!important;
	&::before{
		background-image: url(../img/icon/arr-left.svg);
	}
}

.next-swiper {
	right: 0!important;
	&::before{
		background-image: url(../img/icon/arr-right.svg);
	}
}

.pagination-swiper {
	z-index: 1!important;
	height: 68px;
	width: auto!important;
	display: flex;
	align-items: center;
	gap: 24px;
	border-radius: 0px 20px 20px 0px;
	margin-right: 2px;
	position: relative!important;
	.swiper-pagination-bullet{
		background-color: #CCC385;
		opacity: 1;
	}	
	.swiper-pagination-bullet-active{
		background-color: $green;
		opacity: 1;
		position: relative;
		transform: rotate(45deg);
		&::after{
			content: "";
			border: 2px solid $green;
			opacity: 0.25
		}
	}
}

/* popupToForm ===================================================================================================================*/
.popup {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
	
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	&__content {
		position: relative;
		background-color: rgb(65, 65, 65);
		color: white;
		width: 50%;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
		transition: all 0.8s ease 0s;
		padding: 30px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
	}
	&.open { 
		opacity: 1;
		visibility: visible;
		.popup__content {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}
}

.form {
	&__body {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(65, 65, 65, 0.9) url(https://i.gifer.com/YmvJ.gif) center / 250px no-repeat;
			opacity: 0;
			visibility: hidden;  
			transition: all 0.5s ease 0s;
		}	
		&._sending::after {
			opacity: 1;
			visibility: visible;
		}
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	&__item {
		margin-bottom: 30px;
	}

	&__label {
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}

	&__input {
		height: 50px;
		padding: 0 20px;
		border-radius: 5px;
		width: 100%;
		font-size: 18px;
		transition: all 0.3s ease 0s;
		color: rgb(17, 0, 116);
		&:focus{
			box-shadow: 0 0 15px #22ac8e;
		}
		&._error {
			box-shadow: 0 0 15px red;
		}
	}

	&__button {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		min-height: 60px;
		background-color: rgb(53, 78, 78);
		color: white;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		cursor: pointer;
		border-radius: 20px;
	}
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

::-webkit-input-placeholder{
    color: rgb(106, 123, 170);
}

.options {
	&__item {
		margin-bottom: 10px;
	}

	&__input {
		display: none;
		&:checked + .options__label::after {
			transform: scale(1);
		}
	}

	&__label {
		position: relative;
		display: inline-flex;
		font-size: 16px;
		line-height: 120%;
		align-items: center;
		cursor: pointer;
		&::before {
			content: "";
			align-self: flex-start;
			flex: 0 0 24px;
			height: 24px;
			background-color: white;
			border-radius: 50%;
			margin-right: 10px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 16px;
			height: 16px;
			background-color: rgb(53, 78, 78);
			border-radius: 50%;
			transform: scale(0);
			transition: transform 0.3s ease 0s;
		} 
	}
}

.file {
	&__item {
		position: relative;
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0;
		cursor: pointer;
	}

	&__button {
		display: inline-flex;
		min-height: 40px;
		border-radius: 30px;
		justify-content: center;
		align-items: center;
		background-color: rgb(106, 123, 170);
		padding: 0 20px;
	}

	&__preview {
		display: inline-block;
		max-width: 100px;
		padding-top: 10px;
		img{ 
			max-width: 100%;
		}
	}
}

.checkbox {
	&__input {
		display: none;
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
	}

	&__label {
		position: relative;
		display: inline-flex;
		font-size: 16px;
		line-height: 120%;
		align-items: center;
		cursor: pointer;
		width: 100%;
		&::before {
			content: "";
			align-self: flex-start;
			flex: 0 0 24px;
			height: 24px;
			background-color: white;
			border-radius: 4px;
			margin-right: 10px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 16px;
			height: 16px;
			background-color: rgb(53, 78, 78);
			border-radius: 4px;
			transform: scale(0);
			transition: transform 0.3s ease 0s;
		} 
	}
	&._error .checkbox__label::before {
		box-shadow: 0 0 15px red;
	}
}

/* шапка =======================================================================================================================*/
.header {
	min-height: 125px;
	background-color: $bg;
	padding-top: 32px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 15;
	transition: 0.3s ease-out;
	@media (max-width: 991.98px) {
		padding-top: 16px;
	}

	&__container {
		display: flex;
	}

	&__logo {
		@include adaptiv-value("margin-right", 118, 10, 1);
		flex: 0 0 100px;
		height: 124px;
        overflow: hidden;
		position: relative;
		z-index: 5;
        img{
            max-width: 100%;
        }
		@media (max-width: 767.98px) {
			flex: 0 0 72px;
			height: 90px;
		}
	}

	&__menu {
		display: flex;
		flex: 1 1 auto;
	}
}

.menu-header {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			padding: 11px 16px;
			background-color: $bg;
			// justify-content: flex-start;
			transition: left 0.3s ease 0s;
			overflow: auto; ////для появления скрола
			// &::before{ ////прокладка, чтобы при скроле текс не перекрывал шапку 
			// 	content: "";
			// 	position: fixed;
			// 	width: 100%;
			// 	top: 0;
			// 	left: 0;
			// 	height: 90px;
			// 	background-color: white;
			// 	z-index: 1;
			// }
		}
		&._active-burger-menu{
			left: 0;
		}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		margin-bottom: 25px;
		@media (max-width:1219px) {
			margin-bottom: 12px;
		}
		@media (max-width:991.98px) {
			margin-bottom: 12px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
			align-items: flex-start;
			margin-top: 168px;
		}
	}

	&__body {
		display: flex;
		padding-bottom: 15px;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}
}

.top-menu-header {

	&__language {
	}

	&__icon-triangle {
	}

	&__call {
		display: flex;
		align-items: center;
		@media (max-width: 767.98px) {
			flex-direction: column;
			width: 100%;
			align-items: flex-start;
		}
	}

	&__contact {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24 / 16 * 100%;
		color: $black-text;
		display: inline-flex;
		align-items: center;
		transition: 0.4s ease-out;
		@media (any-hover: hover){
			&:hover{
				color: $green;
				.icon-phone{
					fill: $green;
				}
			}
		}
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}

	&__icon-phone {
		margin-right: 8px;
	}

	&__btn {
		font-family: 'Manrope';
		font-weight: 700;
		font-size: 14px;
		line-height: 18 / 14 * 100%;
		color: #FFFFFF;
		padding: 13px 24px;
		background-color: $green;
		border-radius: 20px;
		margin-left: 24px;
		@media (max-width: 767.98px) {
			margin-left: 0;
			margin-bottom: 36px;
		}
		@media (max-width: 360px) {
			display: flex;
			width: 100%;
		}
	}
	._init .language__ru._active .icon-triangle {
		transform: rotate(180deg);
	} 
	&__burger-icon {
		display: none;
		z-index: 55;
		@media (max-width: 767.98px) {
			display: block;
			position: absolute;
			right: 16px;
			top: 16px;
			width: 60px;
			height: 60px;
			background-color: #E3DA9D;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			& span,
			&::before,
			&::after {
				// left: 50%;
				// transform: translate(-50%, 0);
				position: absolute;
				height: 3px;
				width: 16px;
				border-radius: 4px;
				transition: all 0.3s ease 0s;
				background-color: $black-text;
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 40%;
			}
			&::after {
				bottom: 40%;
			}
			& span {
				top: 50%;
				transform: scale(1) translate(0%, -50%);
			}
			&._active-burger-menu{//когда 2 клик по иконки, она становиться крестиком
				& span {
					transform: scale(0) translate(0%, -50%);
				}
				&::before {
					top: 49%;
					left: 40%;
					transform: rotate(-45deg) translate(0px, -49%);
				}
				&::after {
					bottom: 50%;
					left: 40%;
					transform: rotate(45deg) translate(0%, 50%);
				}
			}
		}	
	}
}

.menu {
	&__list {
		width: 100%;
		display: flex;
		@include adaptiv-value("column-gap", 82, 10, 1);
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		@media (max-width: 767.98px) {
			width: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 23px;
		line-height: 26 / 23 * 100%;
		color: $black-text;	
		text-transform: uppercase;
		background-color: $bg;
		padding: 5px 0;
		transition: 0.4s ease-out;
		&:hover{
			color: $green;
			.icon-triangle{
				fill: $green;
			}
		}
		@media (max-width: 767.98px) {
			font-size: 28px;
			line-height: 30 / 28 * 100%;
			&:not(:last-child){
				margin-bottom: 6px;
			}
		}
	}

	&__body{
		position: relative;
		z-index: 5;
		margin-bottom: 24px;
		a{
			display: block;
			color: inherit;
			font-family: 'Manrope';
			font-weight: 400;
			&:not(:last-child){
				margin-bottom: 12px;
			}
			&:hover{
				background-color: $bg;
			}
		}
		@media (min-width: 767.98px) {
			background-color: #FFFFFF;
			border-radius: 8px;
			position: absolute;
			z-index: 1;
			left: 50%;
			transform: translate(-50%, 0);
			min-width: 250px;
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			padding: 12px 0px;
			a{
				padding-left: 16px;
				&:not(:last-child){
					margin-bottom: 8px;
				}
			}
		}
	}
	&__sub-link{
	}

	&__icon-triangle {
		margin-left: 12px;
	}
	._init .menu__link._active .icon-triangle {
		transform: rotate(180deg);
	}
}

.language {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: 0.4s ease-out;
	@media (any-hover: hover){
		&:hover{
			color: $green;
			.icon-triangle{
				fill: $green;
			}
		}
	}
	&__ru {
		display: flex;
		align-items: center;
		background-color: $bg;	
		p{
			font-family: 'Manrope';
			font-weight: 400;
			font-size: 14px;
			line-height: 21 / 14 * 100%;
			padding: 0 8px;
		}
	}

	&__body {
		background-color: #FFFFFF;
		border-radius: 8px;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 22px;
		width: 100%;
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 14px;
		line-height: 21 / 14 * 100%;
		box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
		p{
			padding-left: 16px;
			&:hover{
				background-color: $bg;
			}
		}
	}
}

.header.hide{
	transform: translateY(-100%);
}

/* главный слайдер ===================================================================================================================*/
.main-slider {
	position: relative;
	background-color: $bg;
	align-items: center;
	border-radius: 0px 0px 48px 48px;
	overflow-x: hidden;
	@media (max-width:1220px) {
		padding-top: 185px;	
	}
	@media (max-width:767.98px) {
		padding-top: 146px;	
	}
	@media (min-width: 1220px) {
		height: 100vh;
		display: flex;
		border-radius: 0px 0px 120px 120px;
		overflow: hidden;
		padding-top: 162px;	
	}
	&__icon-line{
		position: absolute;
		right: -12%;
		@media (max-width:1366px) {
			display: none;
		}
	}

	&__content{
		@media (min-width: 1220px) {
			flex: 0 0 100%;
		}
	}

	&__body {
		@media (min-width: 1220px) {
			width: 50%;
			padding-right: 70px;
		}
	}

	&__swiper {
		padding-bottom: 116px!important;
		@media (min-width: 1220px) {
			flex: 0 0 50%;
			transform: translate(-100%, 0px);
			overflow: hidden;	
			padding: 100px 0!important;
		}
	}

	&__title {
		margin-bottom: 24px;
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
	}

	&__sub-title {
		font-weight: 700;
		@include adaptiv-value("font-size", 90, 42, 1);
		line-height: 95 / 90 * 100%;
		text-transform: uppercase;
		margin-bottom: 24px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}

	&__text {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		@include adaptiv-value("font-size", 21, 16, 1);
		line-height: 30 / 21 * 100%;
		margin-bottom: 60px;
		@media (max-width: 767.98px) {
			margin-bottom: 40px;
		}
	}

	&__btn-link {
		@media (max-width: 1400px) {
			transform: translate(50%);
		}
		@media (max-width: 1219px) {
			transform: translate(0%);
		}
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}


	&__swiper-slide {	
		position: relative;
		&_1 {
			&::after{
				content: "";
				position: absolute;
				z-index: 1;
				top: 0%;
				left: 5%;
				background-image: url(../img/home/slide1/bubble-top.png);
				background-repeat: no-repeat;
				background-position: top left;
				width: 100%;
				height: 100%;
				transition: 0.4s ease-out;
			}
			&::before{
				content: "";
				position: absolute;
				z-index: 1;
				bottom: -10%;
				right: 20%;
				background-image: url(../img/home/slide1/bubble-bottom.png);
				background-repeat: no-repeat;
				// background-size: auto;
				background-position: bottom right;
				width: 100%;
				height: 100%;
			}
		}

		&_2 {
			&::after{
				content: "";
				position: absolute;
				z-index: 1;
				top: 0%;
				left: 20%;
				background-image: url(../img/home/slide2/bubble-top.png);
				background-repeat: no-repeat;
				background-position: top left;
				width: 100%;
				height: 100%;
				transition: 0.4s ease-out;
				transform: scale(1);
			}
			&::before{
				content: "";
				position: absolute;
				z-index: 1;
				top: 30%;
				right: 20%;
				background-image: url(../img/home/slide2/bubble-bottom.png);
				background-repeat: no-repeat;
				// background-size: auto;
				background-position: top right;
				width: 100%;
				height: 100%;
			}
		}

		&_3 {
			&::after{
				content: "";
				position: absolute;
				z-index: 1;
				top: 10%;
				left: 25%;
				background-image: url(../img/home/slide3/bubble-top.png);
				background-repeat: no-repeat;
				background-position: top left;
				width: 100%;
				height: 100%;
				transition: 0.4s ease-out;
				transform: scale(1);
			}
			&::before{
				content: "";
				position: absolute;
				z-index: 1;
				top: 30%;
				right: 15%;
				background-image: url(../img/home/slide3/bubble-bottom.png);
				background-repeat: no-repeat;
				// background-size: auto;
				background-position: top right;
				width: 100%;
				height: 100%;
			}
		}

		&_4 {
			&::after{
				content: "";
				position: absolute;
				z-index: 1;
				top: 5%;
				left: 20%;
				background-image: url(../img/home/slide4/bubble-top.png);
				background-repeat: no-repeat;
				background-position: top left;
				width: 100%;
				height: 100%;
				transition: 0.4s ease-out;
				transform: scale(1);
			}
			&::before{
				content: "";
				position: absolute;
				z-index: 1;
				bottom: 0%;
				right: 45%;
				background-image: url(../img/home/slide4/bubble-bottom.png);
				background-repeat: no-repeat;
				background-position: bottom right;
				width: 100%;
				height: 100%;
			}
		}
		@media (max-width: 1400px) {
			&::after,
			&::before{
				background-size: 20%;
			}
		}
	}

	&__image {
		position: relative;
		padding-top: 55.5%;
        overflow: hidden;
        img{
			position: absolute;
			top: 0;
			left: 0;
            width: 100%;
			height: 100%;
            object-fit: contain;
        }
	}

	&__swiper-pagination {
		z-index: 1!important;
		height: 160px;
		width: 60px!important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border: 1px solid #DED9C0;
		border-radius: 0px 20px 20px 0px;
		@media (min-width: 1450px) {
			top: 50%;
			left: 0;
			transform: translate(0,-50%)!important;
		}
		@media (max-width: 1450px) {
			left: 50%!important;
			transform: rotate(270deg) translate(-100%,-20%)!important;
		}
		.swiper-pagination-bullet{
			background-color: #2F4237;
			opacity: 0.25;
		}	
		.swiper-pagination-bullet-active{
			background-color: $green;
			opacity: 1;
			position: relative;
			transform: rotate(45deg);
			&::after{
				content: "";
				border: 2px solid rgba(0, 166, 73, 0.25);
				border-bottom: 2px solid $green;
			}
		}
	}
}

// background: url() center / cover no-repeat; - сокращенная запись

/* footer ===================================================================================================================*/
.footer {
	background-color: $bg;
	border-radius: 120px 120px 0px 0px ;
	@include adaptiv-value("padding-top", 120, 36, 1);
	@include adaptiv-value("padding-bottom", 48, 24, 1);
	@media (max-width:767.98px) {
		border-radius: 48px 48px 0px 0px ;
	}
	
	&__top {
		@include adaptiv-value("padding-bottom", 59, 32, 1);
		@media (max-width:767.98px) {
			border-bottom: 2px solid #DED9C0;
		}
	}

	&__bottom {
		@include adaptiv-value("padding-top", 59, 32, 1);
	}
}

.top-footer {

	&__collumns {
		@media (min-width:767.98px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			gap: 15px;
		}
	}

	&__collumn {
		&_none-767{
			@media (max-width:767.98px) {
				display: none;	
			}
		}
		&_one{
			@media (max-width:767.98px) {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	&__visitors {
	}

	&__logo{
		margin-bottom: 50px;
		flex: 0 0 100px;
		height: 124px;
        overflow: hidden;
        img{
            max-width: 100%;
        }
		@media (max-width: 767.98px) {
			flex: 0 0 72px;
			height: 90px;
			margin-bottom: 24px;
			order: 2;
		}
	}

	&__visitors {
	}

	&__body {
	}

	&__contact {
	}
}

.bottom-footer {
	@media (max-width:767.98px) {
		display: flex;
		align-items: center;
	}
	&__collumns {
		@media (min-width:767.98px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			gap: 15px;
			align-items: center;
		}
	}

	&__collumn {
	}

	&__copy {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21 / 14 * 100%;
	}

	&__btn-link {
		@media (max-width:767.98px) {
			margin-bottom: 32px;
		}
	}

	&__development {
		display: flex;
		align-items: center;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21 / 14 * 100%;
		img{
			margin-left: 12px;
		}
		@media (max-width:767.98px) {
			margin-top: 12px;
		}
	}
}

.visitors {

	&__title {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21 / 14 * 100%;
		margin-bottom: 8px;
	}

	&__amount {
		display: flex;
		color: $green;
	}

	&__number {
		min-width: 85px;
		font-weight: 700;
		font-size: 36px;
		line-height: 38 / 36 * 100%;
		margin-right: 5px;
	}

	&__text {
	}
}


.menu {
	&_footer{
		display: inline-flex;
		flex-direction: column;
	}

	&__list {
		&_footer {
			width: auto;
		}
	}

	&__item {
		&_footer {
			display: inline-flex;
		}
	}

	&__link {
	}

	&__icon-triangle {
	}

	&__body {
		&_footer {
			top: 35px;
		}
	}

	&__sub-link {
	}
}

.contact-footer {
	display: flex;
	flex-direction: column;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 30 / 21 * 100%;
	color: $black-text;
	@media (max-width:767.98px) {
		align-items: center;
	}
	&__title {
		font-size: 14px;
		line-height: 21 / 14 * 100%;
		margin-bottom: 12px;
	}

	&__address {
		margin-bottom: 8px;
	}

	&__contact {
		margin-bottom: 8px;
		color: inherit;
	}

	&__mail {
		@include adaptiv-value("margin-bottom", 47, 24, 1);
		color: $green;
	}
	&__address,&__contact,&__mail{
		@media (max-width:479.98px) {
			font-size: 18px;
		}
	}

	&__social svg {
		@media (any-hover: hover){
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}

.social-footer a{
	&:not(:last-child){
		margin-right: 12px;
	}
}

/* products===================================================================================================================*/
.products {
	position: relative;
	z-index: 4;
	@include adaptiv-value("padding-top", 160, 120, 1);
	padding-bottom: 200px;
	@media (max-width:1201px) {
		@include adaptiv-value("padding-bottom", 200, 120, 1);
	}

	&__container {
		@media (max-width:767.98px) {
			padding-right: 0px;
		}
	}

	&__title {
		margin-bottom: 15px;
	}

	&__sub-title {
		@include adaptiv-value("padding-bottom", 44, 40, 1);
		padding-right: 15px;
	}

	&__items {
		padding-top: 16px;
		@media (min-width:767.98px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
			gap: 24px;
		}
		@media (max-width:767.98px) {
			display: grid;
			grid-template: 1fr / repeat(auto,242px);
			grid-auto-columns: 270px;
			grid-auto-flow:column;
			gap: 16px;
			overflow: auto;
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
		@include adaptiv-value("margin-bottom", 24, 16, 1);
	}

	&__item {
		background-color: $bg;
		@include adaptiv-value("padding", 24, 15, 1);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: 0.4s ease-out;
		cursor: pointer;
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			border-radius: 12px;
			transform: translateY(-16px);
			&:not(:last-child){
				.item-product__image img{
					transform: scale(1.05);
				}
			}
			@media (max-width:767.98px) {
				box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
			}
		}
	}

	&__topical {
		margin-bottom: 80px;
		@media (max-width:1201px) {
			@include adaptiv-value("margin-bottom", 80, 40, 1);
		}
	}

	&__btn-catalog{
		display: flex;
		justify-content: center;
	}

	&__btn-link {
	}
}
  
.item-product {

	&__image {
		padding-top: 65%;
        overflow: hidden;
        position: relative;
		border-radius: 20px;
		@include adaptiv-value("margin-bottom", 24, 14, 1);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
			transition: 0.4s ease-out;
        }
		&_recept{
			img{
				object-fit: contain;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 30 / 28 * 100%;
	}
}

.topical {
	position: relative;
	z-index: 3;
	background-color: white;
	border: 2px solid #DDF3D5;
	border-radius: 20px;
	@include adaptiv-value("padding", 24, 16, 1);
	&__title {
		font-weight: 700;
		@include adaptiv-value("font-size", 28, 23, 1);
		line-height: 30 / 28 * 100%;
		margin-bottom: 24px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 24px;
	}

	&__items {
		display: flex;
		align-items: center;
	}
}
.item-topical {

	&__image {
		width: 100px;
		height: 100px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&::after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $bg;
		}
		img{
			position: relative;
			z-index: 1;
		}
		@media (max-width:479.98px) {
			width: 80px;
			height: 80px;	
		}
	}

	&__body {
		margin-left: 16px;
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 23 / 20 * 100%;
		padding-bottom: 4px;
	}

	&__discription {
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 16px;
		line-height: 24 / 16 * 100%;
		max-width: 140px;
	}
}


/* photo-gallery ===================================================================================================================*/
.photo-gallery {
	position: relative;
	z-index: 3;
	@include adaptiv-value("padding-bottom", 304, 120, 1);
	&__container {
		@media (max-width:767.98px) {
			padding-right: 0;
		}
	}
	&__icon-bg-line {
		position: absolute;
		top: 0px;
		right: -185px;
		transform: translate(0, -17%);
	
		@media (max-width:1557px) {
			display: none;
		}
		// @media (max-width:1366px) {
		// 	display: none;
		// }
	}

	&__title {
		@include adaptiv-value("margin-bottom", 15, 12, 1);
	}

	&__sub-title {
		@include adaptiv-value("padding-bottom", 60, 40, 1);
	}

	&__info {
		display: flex;
		align-items: center;
		background-color: $brown;
		border-radius: 20px;
		padding: 24px 32px;
		@include adaptiv-value("margin-bottom", 38, 40, 1);
		@media (max-width:767.98px) {
			padding: 16px;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__logo {
		margin-right: 16px;
		@media (max-width:767.98px) {
			margin-bottom: 12px;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 21px;
		line-height: 31 / 21 * 100%;
		color: inherit;
	}

	&__swiper {
		min-width: 0;
	}

	&__swiper-wrapper {
		padding-top: 8px;
		padding-bottom: 48px;
		@media (max-width:767.98px) {
			padding-bottom: 0px;
		}
	}

	&__swiper-slide {
		padding-top: 14px;
		display: grid;
		@media (min-width:767.98px) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 24px;
		}
		@media (max-width:767.98px) {
			grid-auto-columns: 242px;
			grid-auto-flow:column;
			gap: 16px;
			overflow: auto;
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
	}

	&__image {
			padding-top: 44%;
			overflow: hidden;
			position: relative;
			border-radius: 20px;
			transition: 0.4s ease-out;
			cursor: pointer;
			@media (max-width:767.98px) {
				padding-top: 92%;
			}
			img{
				width: 100%;
				height: 100%;
				border-radius: 20px;
				object-fit: cover;
				position: absolute;
				top: 0px;
				left: 0px;
			}
		&_1 {
			@media (min-width:767.98px) {
				grid-column: span 2;
				grid-row: span 2;
			}
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
			@media (min-width:767.98px) {
				grid-column: span 2;
			}
		}
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			transform: translateY(-8px);
			@media (max-width:767.98px) {
				box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
			}
		}
	}

	&__control{
	}

	&__arr{
	}

	&__swiper-button-prev,
	&__swiper-button-next{
		background-color: $bg;
	}

	&__swiper-button-prev {
		left: 0!important;
		&::before{
			content: url(../img/icon/arr-left.svg);
		}
	}

	&__swiper-button-next {
		right: 0!important;
		&::before{
			content: url(../img/icon/arr-right.svg);
		}
	}

	&__swiper-pagination {
	}
}
/*partners ------------------------------------------------------------------------------------------------------------- */
.partners {
	position: relative;
	z-index: 1;
	@include adaptiv-value("padding-bottom", 200, 120, 1);
	&__body	{
		@include adaptiv-value("padding", 100, 20, 1);
		background-color: $bg;
		border-radius: 20px;
		@media (max-width:767.98px) {
			border-radius: 48px;
			padding-right: 0;
		}
	}

	&__title {
		display: flex;
		justify-content: center;
		@include adaptiv-value("margin-bottom", 86, 20, 1);
	}

	&__swiper {
	}

	&__swiper-wrapper {
		padding-top: 8px;
		padding-bottom: 48px;
		@media (max-width:767.98px) {
			padding-bottom: 0px;
		}
	}

	&__swiper-slide {
		padding-top: 14px;
		display: grid;
		@media (min-width:767.98px) {
			grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
			gap: 24px;
		}
		@media (max-width:767.98px) {
			grid-auto-columns: 242px;
			grid-auto-flow:column;
			gap: 16px;
			overflow: auto;
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
	}

	&__image {
		background-color: #FFFFFF;
		border-radius: 20px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.4s ease-out;
		cursor: pointer;
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			transform: translateY(-8px);
			@media (max-width:767.98px) {
				box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
			}
		}
	}
	&__control {
	}

	&__arr {
	}

	&__swiper-button-prev,
	&__swiper-button-next {
		background-color: #fff;
	}

	&__swiper-button-prev {
	}

	&__swiper-button-next {
	}

	&__swiper-pagination {
	}
}

/* fefmers ===================================================================================================================*/
.fermers {
	@include adaptiv-value("padding-bottom", 180, 120, 1);

	&__container {
		@media (max-width:767.98px) {
			padding-right: 0;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 15, 12, 1);
	}

	&__sub-title {
		@include adaptiv-value("padding-bottom", 44, 40, 1);
	}

	&__row {
		padding-top: 14px;
		@include adaptiv-value("margin-bottom", 80, 40, 1);
		@media (min-width:767.98px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
			gap: 24px;
			
		}	
		@media (max-width:767.98px) {
			display: grid;
			grid-template: 1fr / repeat(auto,242px);
			grid-auto-columns: 242px;
			grid-auto-flow:column;
			gap: 16px;
			overflow: auto;
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
	}
	&__items {
	}
	&__btn-catalog{
		display: flex;
		justify-content: center;
	}
}

.items-fermer {
height: 100%;
display: flex;
flex-direction: column;
	&__image {
		padding-top: 80%;
        overflow: hidden;
        position: relative;
		border-radius: 20px;
		@include adaptiv-value("margin-bottom", 32, 24, 1);
		transition: 0.4s ease-out;
		cursor: pointer;
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			transform: translateY(-8px);
			@media (max-width:767.98px) {
				box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
			}
		}
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
        }
	}

	&__locations {
		margin-bottom: 8px;
	}

	&__name {
		font-weight: 700;
		font-size: 28px;
		line-height: 30 / 28 * 100%;
		margin-bottom: 32px;
		flex: 1 1 auto;
	}

	&__info {
	}
}
.locations-fermer {
	display: flex;
	align-items: center;
	&__icon-vector {
	}

	&__text {
		margin-left: 8px;
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 14px;
		line-height: 21 / 14 * 100%;
	}
}

/*discription-slider ===================================================================================================================*/
.discription-slider {
	@include adaptiv-value("margin-bottom", 160, 120, 1);
	background-color: $bg;
	border-radius: 120px;
	overflow: hidden;
	@media (max-width:767.98px) {
		border-radius: 48px;
	}
	&__swiper {
		position: relative;
	}

	&__swiper-wrapper {
	}

	&__swiper-slide {
		display: flex;
		opacity: 0 !important;
		transition: opacity 0.4s ease 0.4s!important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 0 0 50%;
		@include adaptiv-value("padding-top", 160, 100, 1);
		@media (max-width:1260px) {
			flex: 1 1 100%;
			align-items: flex-start;
		}
	}

	&__row {
		position: relative;
		margin-left: 25px;
		&::after{
			content: "";
			position: absolute;
			z-index: 1;
			top: 0%;
			left: 28%;
			background-image: url(../img/home/discription-slider/bubble-top.png);
			background-repeat: no-repeat;
			background-position: top left;
			width: 100%;
			height: 100%;
			transition: 0.4s ease-out;
			@media (max-width:1260px) {
				top: -9%;
				left: 47%;
			}
		}
		&::before{
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			left: -4%;
			background-image: url(../img/home/discription-slider/bubble-bottom.png);
			background-repeat: no-repeat;
			background-position: top left;
			width: 100%;
			height: 100%;
			@media (max-width:1260px) {
				top: 68%;
				left: 3%;
			}
		}
		@media (max-width:1260px) {
			margin-left: 0;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 70, 40, 1);
	}

	&__image {
		max-width: 280px;
		padding-top: 42.43%;
        overflow: hidden;
        position: relative;
		border-radius: 50%;
		@include adaptiv-value("margin-bottom", 48, 32, 1);

		@media (max-width:1260px) {
			padding-top: 0;
			min-height: 328px;
			min-width: 328px;
		}
		@media (max-width:369px) {
			min-height: 290px;
			min-width: 290px;
		}
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
        }
		@media (max-width:1260px) {
			width: 100%;
		}
	}

	&__sub-title {
		@include adaptiv-value("margin-bottom", 16, 12, 1);
		font-size: 60px;
		line-height: 63 / 60 * 100%;
		@media (max-width:767.98px) {
			font-size: 32px;
		}
	}

	&__text {
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 18px;
		line-height: 26 / 18 * 100%;
		margin-bottom: 132px;
		@media (max-width:767.98px) {
			font-style: 16px;
			margin-bottom: 40px;
		}
	}

	&__control {
		@include adaptiv-value("padding-bottom", 160, 40, 1);
	}

	&__arr {
	}

	&__swiper-button-prev,
	&__swiper-button-next {
		background-color: #fff;
	}

	&__swiper-button-prev {
	}

	&__swiper-button-next {
	}

	&__swiper-pagination {
		width: 1277px!important;
		transform: translateX(85%)!important;
		border: 2.5px solid #00A649;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		margin-right: 324px;
		height: 100%;
		.swiper-pagination-bullet{
			position: relative;
			top: 50%!important;
			left: -50%!important;
			transform: translate(0px, -50%)!important;
			// margin: 129px!important;
			background-color: $green;
			// transform: translate(-2400%, -50%)!important;
		}	
		.swiper-pagination-bullet-active{
			&::after{
				content: "";
				border: 6px solid white;
				opacity: 1;
			}
		}
		@media (max-width:1260px) {
			margin-right: 0px;
			left: 0%!important;
			flex-direction: row;
			width: 100%!important;
			border: none;
			transform: translateX(50%)!important;
			justify-content: center;
		}
	}

	&__right {
		@media (min-width:1260px) {
			height: 100%;
			display: flex;
			align-items: center;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0px,-50%);
		}
	}

	&__fraction {
		@media (max-width:1259px) {
			height: auto;
		}
	}
}
.fraction-control {
	min-width: 92px;
	position: relative;
	z-index: 100;
	text-align: right;
	color: $green;
	font-family: 'Buyan';
	font-weight: 700;
	font-size: 36px;
	line-height: 40 / 36 * 100%;
	@media (max-width:1260px) {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		text-align: end;
		margin-bottom: 32px;
		min-height: 106px;
	}
	&__current {
		font-size: 120px;
		line-height: 125 / 120 * 100%;
		display: flex;
		justify-content: flex-end;
		@media (max-width:1260px) {
			font-size: 80px;
			line-height: 70 / 80 * 100%;
		}
	}

	&__all {
	}
}

/* developments ===================================================================================================================*/
.developments {
	@include adaptiv-value("margin-bottom", 200, 120, 1);
	&__container {
		position: relative;
	}
	&__icon {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		@media (max-width:1366px) {
			display: none;
		}
	}

	&__body {
		background-color: $bg;
		border-radius: 20px;
		display: flex;
		@media (max-width:1050px) {
			flex-direction: column-reverse;
		}
	}

	&__contant {
		padding: 100px 76px;
		@include adaptiv-value("padding-left", 76, 20, 1);
		@include adaptiv-value("padding-right", 76, 20, 1);
		@include adaptiv-value("padding-top", 100, 20, 1);
		@include adaptiv-value("padding-bottom", 100, 20, 1);
		flex: 1 1 auto;
	}

	&__title {
		@include adaptiv-value("padding-bottom", 16, 14, 1);
	}

	&__sub-title {
		@include adaptiv-value("font-size", 60, 48, 1);
		@include adaptiv-value("padding-bottom", 16, 12, 1);
	}

	&__text {
		max-width: 550px;
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 18px;
		line-height: 26 / 18 * 100%;
		@include adaptiv-value("padding-bottom", 140, 36, 1);
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 550px;
	}

	&__btn-link {
	}

	&__date {
		@include adaptiv-value("font-size", 48, 22, 1);
		line-height: 52 / 48 * 100%;
		color: $green;
	}

	&__image {
		position: relative;
		min-height: 100%;
		min-width: 550px;
		svg {
			height: 100%;
			width: 100%;
			path{
			}
			image{
				min-height: 100%;
			}
		}
		&::after{
			content: "";
			position: absolute;
			z-index: 1;
			top: 56px;
			left: -15%;
			background-image: url(../img/home/developments/bubble.png);
			background-repeat: no-repeat;
			background-position: top left;
			width: 100%;
			height: 100%;
			transition: 0.4s ease-out;
			@media (max-width:767.98px) {
				background-position: bottom left;
				left: 50%;
				top: 0;
			}
			@media (max-width:479.98px) {
				top: auto;
				bottom: 50px;
				left: 30%;
			}
		}
		@media (max-width:1050px) {
			min-height: 335px;
			margin: 0 auto;
			svg {
				min-height: 335px;
			}
			image {
				width: 100%;
			}
		}
		@media (max-width:767.98px) {
			min-width: auto;
			width: 100%;
			path{
				transform: rotate(-90deg) translate(-55%, 0) scale(1.5);
				width: 335px;
				height: 335px;
			}
			image {
				width: 100%;
			}
		}
		@media (max-width:550px) {
			path{
				transform: rotate(-90deg) translate(-70%, 0) scale(1);
			}
		}
		@media (max-width:400px) {
			path{
				transform: rotate(-90deg) translate(-100%, 0) scale(0.5);
			}
		}
	}
}

/* calendar ===================================================================================================================*/
.calendar {
	margin-bottom: 97px;
	&__title {
		@include adaptiv-value("margin-bottom", 24, 20, 1);
	}

	&__sab-title {
		font-weight: 700;
		@include adaptiv-value("font-size", 80, 47, 1);
		line-height: 85 / 80 * 100%;
		color: $black-text;
		margin-bottom: 40px;
		@media (max-width:369px) {
			font-size: 40px;
		}
		&_bottom {
			display: flex;
			align-items: center;
			span {
				border-bottom: 4px solid rgba($color: #2F4237, $alpha: 0.2);
			}
		}
		&_active {
			color: $green;
		}
	}
	&__table {
		overflow: auto;
		&::-webkit-scrollbar-thumb {
			background-color: $green;
		}
		&::-webkit-scrollbar-track{
			background-color: #DDF3D5;
		}
	}
}

.filter {

	&__checkbox {
		margin: 0 24px;
		cursor: pointer;
		@media (max-width:479.98px) {
			margin: 0 4px;
		}
	}

	&__chekbox-input {
		display: none;
		&:checked ~ .filter__checkbox-div{
			background-color: $brown;
		}
		&:checked ~ .filter__checkbox-div::before{
			background-color: white;
			background-image: url(../img/icon/chek-mask.svg);
			background-position: center;
			background-repeat: no-repeat;
			right: 32px;
		}
	}

	&__checkbox-div {
		position: relative;
		background-color: $green;
		width: 56px;
		height: 28px;
		border-radius: 32px;
		transition-duration: 0.3s;
		&::before{
			content: '';
			position: absolute;
			top: 4px;
			right: 4px;
			width: 20px;
			height: 20px;
			background-color: white;
			background-image: url(../img/icon/chek-mask.svg);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			transition-duration: 0.3s;
		}
	}
}

.table-calendar {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 20.31%, #FFFFFF 100%);
		z-index: 2;
	}
	thead, tbody, th {
		display: block;
	}
	thead {
		float: left;
	}
	tbody tr {
		display: table-cell;
	}
	tbody {
		overflow-x: auto;
		&::-webkit-scrollbar{
			width: 5px;
			height: 5px;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-track{
			background-color: $bg;
			border-radius: 60px;
		}
		&::-webkit-scrollbar-thumb{
			border-radius: 60px;
			background-color: $green;
		}
	}
	td {
		display: block;
	}
	&__header {
		padding-top: 60px;
		@media (max-width:767.98px) {
			padding-top: 0px;
		}
	}

	&__list-left {
		display: inline-block;
		font-size: 28px;
		line-height: 30 / 28 * 100%;
		padding-right: 88px;
		@media (max-width:767.98px) {
			font-size: 23px;
			padding-right: 8px;
		}
	}

	&__image { 
		width: 136px;
		height: 136px;
		background-color: white;
		border-radius: 50%;
		margin-bottom: 48px;
		transform: translateX(-8px);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			top: 8px;
			left: 8px;
			background-color: $bg;
			@media (max-width:767.98px) {
				width: 68px;
				height: 68px;
			}
		}
		img{
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			mix-blend-mode: multiply;
			@media (max-width:767.98px) {
				width: 48px;
				height: 37px;
			}
		}
		&_none {
			&::before {
				background-color: transparent;
			}
		}
		@media (max-width:767.98px) {
			margin-bottom: 16px;
		}
		@media (max-width:767.98px) {
			width: 84px;
			height: 84px;
		}
	}

	&__item-left {
		height: 32px;
		text-align: start;
		&:not(:last-child){
			margin-bottom: 32px;
			@media (max-width:767.98px) {
				margin-bottom: 16px;
			}
		}
	}

	&__body {
		padding-bottom: 48px;
		padding-top: 60px;
		@media (max-width:767.98px) {
			padding-bottom: 16px;
			padding-top: 0px;
		}
	}

	&__list {
		position: relative;
		max-width: 120px;
		transition: background-color 0.4s ease-out;
		border-radius: 60px;
		cursor: pointer;
		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: -50px;
			left: 50%;
			transform: translateX(-50%);
			min-width: 86px;
			height: 62px;
			padding: 0 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 15px 20px rgba(37, 37, 37, 0.02);
			border-radius: 12px;
			background-color: $black-text;
			color: white;
			font-family: 'Buyan';
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 30 / 28 * 100%;
			opacity: 0;
			transition: all 0.4s ease-out;
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			display: inline-block;
			width: 0;
			height: 0;
			top: 12px;
			left: 50%;
			transform: translateX(-50%);
			border-style: solid;
			border-width: 6.5px 7px 0 7px;
			border-color: $black-text transparent transparent transparent;
			opacity: 0;
			transition: all 0.4s ease-out;
		}
		@media (any-hover: hover){
			&:hover {
				background-color: rgba($bg, 0.5)
			}
		}
		@media (any-hover: hover){
			&:hover::after {
				opacity: 1;
			}
		}
		@media (any-hover: hover){
			&:hover::before {
				opacity: 1;
			}
		}
		
		&_01 {
			z-index: 10;
		}
		&_02 {
			z-index: 9;
			transform: translateX(-8px);
		}
		&_03 {
			z-index: 8;
			transform: translateX(-16px);
		}
		&_04 {
			z-index: 7;
			transform: translateX(-24px);
		}
		&_05 {
			z-index: 6;
			transform: translateX(-32px);
		}
		&_06 {
			z-index: 5;
			transform: translateX(-40px);
		}
		&_07 {
			z-index: 4;
			transform: translateX(-48px);
		}
		&_08 {
			z-index: 3;
			transform: translateX(-56px);
		}
		&_09 {
			z-index: 2;
			transform: translateX(-64px);
		}
		&_10 {
			z-index: 1;
			transform: translateX(-72px);
		}
		@media (max-width:767.98px) {
			max-width: 68px;
		}
	}

	&__item {
		height: 32px;
		&:not(:last-child){
			margin-bottom: 32px;
			@media (max-width:767.98px) {
				margin-bottom: 16px;
			}
		}
		&:last-child {
			padding-bottom: 70px;
			@media (max-width:767.98px) {
				padding-bottom: 0px;
			}
		}
		&_01 {
		}

		&_02 {
		}

		&_03 {
		}

		&_04 {
		}

		&_05 {
		}

		&_06 {
		}

		&_07 {
		}

		&_08 {
		}

		&_09 {
		}

		&_10 {
		}
	}
}

/* main-info ===================================================================================================================*/
.main-info {
	position: relative;

	&__icon-info-line {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		@media (max-width:1366px) {
			display: none;
		}
	}
}

/* blog ===================================================================================================================*/
.blog {
	@include adaptiv-value("padding-top", 103, 20, 1);
	@include adaptiv-value("padding-bottom", 200, 120, 1); 

	&__container{
		@media (max-width:570px) {
			padding-right: 0;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 24, 20, 1);
	}

	&__sub-title {
		padding-bottom: 52px;
		@media (max-width:767.98px) {
			padding-bottom: 40px;
		}
	}

	&__row {
		display: flex;
		column-gap: 24px;
		@include adaptiv-value("padding-bottom", 80, 40, 1);
		@media (max-width:767.98px) {
			column-gap: 16px;
		}
		@media (max-width:570px) {
			overflow: auto;
		}
	}

	&__item {
	}

	&__btn-catalog {
		text-align: center;
	}

	&__btn-link {
	}
}

.item-blog {
	flex: 1 1 50%;
	background-color: $bg;
	border-radius: 20px;
	display: flex;
	padding: 24px;
	transition: 0.4s ease-out;
	min-width: 242px;
	overflow: hidden;
	&:hover{
		box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
		border-radius: 12px;
		transform: translateY(-16px);
		.item-blog__image img{
			transform: scale(1.05);
		}
		@media (max-width:767.98px) {
			box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
		}
	}
	@media (max-width:991.98px) {
		flex-direction: column-reverse;
	}
	@media (max-width:767.98px) {
		padding: 16px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 50%;
		color: $black-text;
	}

	&__title {
		font-size: 28px;
		line-height: 30 / 28 * 100%;
		padding-bottom: 48px;
		padding-right: 24px;
		@media (max-width:991.98px) {
			padding-top: 16px;
		}
		@media (max-width:767.98px) {
			font-size: 23px;
		}
	}

	&__date {
		font-family: 'Manrope';
		font-size: 14px;
		line-height: 21 / 14 * 100%;
	}

	&__image {
		padding-top: 52%;
        overflow: hidden;
        position: relative;
		border-radius: 20px;
		transition: 0.4s ease-out;
		cursor: pointer;
		@media (min-width:991.98px) {
			flex: 1 1 50%;
		}
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
			transition: 0.4s ease-out;
        }
		@media (max-width:767.98px) {
			min-height: 160px;
		}
	}
}

/* news ===================================================================================================================*/
.news {
	@include adaptiv-value("padding-bottom", 200, 120, 1); 
	&__container {
		@media (max-width:810px) {
			padding-right: 0;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 24, 20, 1);
	}

	&__sub-title {
		padding-bottom: 44px;
		@media (max-width:767.98px) {
			padding-bottom: 14 px;
		}
	}

	&__row {
		display: flex;
		column-gap: 24px;
		padding-top: 16px;
		@include adaptiv-value("padding-bottom", 80, 40, 1);
		@media (max-width:767.98px) {
			column-gap: 16px;
		}
		@media (max-width:991.98px) {
			overflow: auto;
		}
	}

	&__item {
	}

	&__btn-catalog {
		text-align: center;
	}

	&__btn-link {
	}
}

.item-news {
	display: flex;
	flex: 1 1 33.333%;
	flex-direction: column;
	background-color: transparent;
	min-height: 100%;
	min-width: 242px;
	&__image {
		border-radius: 20px;
		padding-top: 59%;
        overflow: hidden;
        position: relative;
		border-radius: 20px;
		transition: 0.4s ease-out;
		cursor: pointer;
		@media (min-width:991.98px) {
			flex: 1 1 50%;
		}
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
			transition: 0.4s ease-out;
        }
		@media (max-width:767.98px) {
			min-height: 160px;
		}
		&:hover{
			box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
			border-radius: 12px;
			transform: translateY(-16px);               
			@media (max-width:767.98px) {
				box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
			}
		}
	}

	&__info {
		color: $black-text;
		padding-top: 32px;
		height: 100%;
		display: flex;
		row-gap: 32px;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width:767.98px) {
		padding-top: 16px;
		}
	}

	&__title {
		font-size: 28px;
		line-height: 30 / 28 * 100%;
		color: inherit;
		transition: 0.4s ease-out;
		@media (max-width:1300px) {
			font-size: 23px;
		}
		&:hover {
			color: $green;
		}
	}

	&__date {
		font-family: 'Manrope';
		font-size: 14px;
		line-height: 21 / 14 * 100%;
	}
}

/* social-responsibility ===================================================================================================================*/
.social-responsibility {
	@include adaptiv-value("padding-bottom", 325, 120, 1); 

	&__container {
	}

	&__title {
		@include adaptiv-value("margin-bottom", 24, 20, 1);
	}

	&__sub-title {
		padding-bottom: 52px;
		@media (max-width:767.98px) {
			padding-bottom: 40px;
		}
	}

	&__row {
		padding-top: 14px;
		@include adaptiv-value("margin-bottom", 80, 40, 1);
		@media (min-width:767.98px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
			gap: 24px;
			
		}	
		@media (max-width:767.98px) {
			display: grid;
			grid-template: 1fr / repeat(auto,242px);
			grid-auto-columns: 242px;
			grid-auto-flow:column;
			gap: 16px;
			overflow: auto;
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
	}

	&__item {
		min-height: 312px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $bg;
		border-radius: 20px;
		padding: 24px;
		color: $black-text;
		@media (max-width:767.98px) {
			padding: 16px;
		}
		@media (max-width:767.98px) {
			min-height: 251px;
		}
	}


	&__btn-catalog {
		text-align: center;
	}

	&__btn-link {
	}
}

.item-social-responsibility {
	transition: 0.4s ease-out;
	&__title {
		font-size: 28px;
		line-height: 30 / 28 * 100%;
		color: inherit;
		transition: 0.4s ease-out;
		padding-bottom: 20px;
		@media (max-width:1300px) {
			font-size: 23px;
		}
	}

	&__date {
		font-family: 'Manrope';
		font-size: 14px;
		line-height: 21 / 14 * 100%;
	}
	&:hover{
		box-shadow: 0px 20px 50px rgba(17, 58, 35, 0.15);
		border-radius: 12px;
		transform: translateY(-16px);
		@media (max-width:767.98px) {
			box-shadow: 0px 10px 10px rgba(17, 58, 35, 0.15);
		}
	}
}
